# VCS build outputs
csrc/
simv
simv*
simv.daidir/
ucli.key
vc_hdrs.h

# Verdi / FSDB outputs
wave.fsdb
*.fsdb
verdiLog/
novas.conf
novas.rc
novas_dump.log
verdi_config_file

# Simulation logs / databases
tr_db.log
*.log
*.vpd
*.vdb/
*.vdb
cov_*.vdb/
urgReport*/
*.fsm.sch.verilog.xml

# Misc
.DVEfiles/
simv.vdb/
